* {
    margin: 0;
    padding: 0;
    }
    
    body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    }
    
    .container {
    height: 900px;
    width: 400px;
    background-image: linear-gradient(#1e3d6b, hsla(0, 60%, 2%, 0.863));
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    position: absolute;
    border-bottom-left-radius: 14px;
    border-top-right-radius: 15px;
    }
    
    .main-content {
    height: 235px;
    background-color: #ffe819;
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 80px;
    border-top: #1e6b30;
    }
    
    .text {
    text-align: center;
    font-size: 300%;
    text-decoration: aliceblue;
    color: rgb(251, 255, 18);
    }
    
    .course {
    color: rgb(255, 239, 16);
    font-size: 25px;
    font-weight: bolder;
    }
    
    .centre-content {
    height: 180px;
    margin: -70px 30px 20px;
    color: aliceblue;
    text-align: center;
    font-size: 20px;
    border-radius: 25px;
    padding-top: 0.5px;
    background-image: linear-gradient(#308d46, #308d46);
    }
    
    .centre-content-h1 {
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: normal;
    }
    
    .price {
    font-size: 60px;
    margin-left: 5px;
    bottom: 15px;
    position: relative;
    }
    
    .pay-now-btn {
    cursor: pointer;
    color: #0a0202;
    height: 50px;
    width: 290px;
    border: none;
    margin: 6px 55px;
    background-color: rgb(239, 255, 11);
    position: relative;
    }
    
    .card-details {
    background: rgb(8, 49, 14);
    color: rgb(225, 223, 233);
    margin: 10px 30px;
    padding: 10px;
    border-radius: 8%;
    /* border-bottom-left-radius: 80px; */
    }
    
    .card-details p {
    font-size: 20px;
    margin: 8px 30px;
    }
    
    .card-details label {
    font-size: 15px;
    line-height: 35px;
    padding-left: 5%;

    }

    .holder-numbnameer{
        font-size: 20px;
        color: rgb(225, 223, 233);
        margin: 8px 30px;
        padding-left: 5%;
        }
        .card-details .holder-numbnameer p {
            font-size: 20px;
            color: rgb(225, 223, 233);
            margin: 8px 3px;
            padding-left: 5%;
            }








    
    .submit-now-btn {
    cursor: pointer;
    color: #fff;
    height: 30px;
    width: 240px;
    border: none;
    margin: 5px 30px;
    background-color: rgb(71, 177, 61);
}